<launch>

<rosparam file="$(find pr_robot_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="pr_robot" args="yaw_joint_position_controller bicep_joint_position_controller forearm_joint_position_controller pen_joint_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/pr_robot/joint_states"/>
</node>

</launch>