<?xml version="1.0" ?>
<robot name="pr_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find pr_robot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find pr_robot_description)/urdf/pr_robot.trans" />
<xacro:include filename="$(find pr_robot_description)/urdf/pr_robot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-4.853296224115538e-06 0.00024714628831860636 0.013633958120257385" rpy="0 0 0"/>
    <mass value="0.43776064834744016"/>
    <inertia ixx="0.000186" iyy="0.000102" izz="0.000172" ixy="0.0" iyz="-1e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="yaw_link_1">
  <inertial>
    <origin xyz="-0.0004754643906596662 5.614646444242893e-06 0.02718028816828332" rpy="0 0 0"/>
    <mass value="0.3784235681235821"/>
    <inertia ixx="9.9e-05" iyy="0.00012" izz="7e-05" ixy="0.0" iyz="-0.0" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.012 -0.036" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/yaw_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.012 -0.036" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/yaw_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="bicep_link_1">
  <inertial>
    <origin xyz="0.018637728191771286 0.0001372287027197952 0.13472163547698685" rpy="0 0 0"/>
    <mass value="0.4966627818994611"/>
    <inertia ixx="0.001227" iyy="0.001249" izz="7.9e-05" ixy="0.0" iyz="-1e-06" ixz="5e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.019 -0.012 -0.0765" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/bicep_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.019 -0.012 -0.0765" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/bicep_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="forearm_link_1">
  <inertial>
    <origin xyz="0.01900242048379081 0.056775815995802226 -1.168568362480693e-05" rpy="0 0 0"/>
    <mass value="0.0897194077269878"/>
    <inertia ixx="0.000174" iyy="1.9e-05" izz="0.000188" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.019 -0.012172 -0.2505" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/forearm_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.019 -0.012172 -0.2505" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/forearm_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="pen_link_1">
  <inertial>
    <origin xyz="0.005000016897849962 0.03546186210657498 0.005144989924291743" rpy="0 0 0"/>
    <mass value="0.10871652568199004"/>
    <inertia ixx="4.4e-05" iyy="3e-05" izz="2.5e-05" ixy="-0.0" iyz="2e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.005 -0.169172 -0.250467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/pen_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.005 -0.169172 -0.250467" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_robot_description/meshes/pen_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="yaw_joint" type="revolute">
  <origin xyz="0.0 0.012 0.036" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="yaw_link_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="bicep_joint" type="revolute">
  <origin xyz="-0.019 0.0 0.0405" rpy="0 0 0"/>
  <parent link="yaw_link_1"/>
  <child link="bicep_link_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="1.570796" lower="0.0" effort="100" velocity="100"/>
</joint>

<joint name="forearm_joint" type="revolute">
  <origin xyz="0.0 0.000172 0.174" rpy="0 0 0"/>
  <parent link="bicep_link_1"/>
  <child link="forearm_link_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="0.785398" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="pen_joint" type="revolute">
  <origin xyz="0.014 0.157 -3.3e-05" rpy="0 0 0"/>
  <parent link="forearm_link_1"/>
  <child link="pen_link_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="2.268928" lower="-1.832596" effort="100" velocity="100"/>
</joint>

</robot>
