<?xml version="1.0" ?>
<robot name="pr_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:arg name="use_sim" default="true"/>

<xacro:include filename="$(find pr_description)/urdf/materials.xacro" />
<xacro:include filename="$(find pr_description)/urdf/pr_robot.gazebo" />

<link name="world"/>

<joint name="world_joint" type="fixed">
  <parent link="world"/>
  <child link="base_link"/>
</joint>

<link name="base_link">
  <inertial>
    <origin xyz="-4.853296224115538e-06 0.00024714628831860636 0.013633958120257385" rpy="0 0 0"/>
    <mass value="0.43776064834744016"/>
    <inertia ixx="0.000186" iyy="0.000102" izz="0.000172" ixy="0.0" iyz="-1e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="pr_robot_silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.0175" rpy="0 0 0"/>
    <geometry>
      <box size="0.044 0.080 0.041"/>
    </geometry>
  </collision>
</link>

<link name="yaw_link">
  <inertial>
    <origin xyz="-0.00047546439065966633 5.614646444242893e-06 0.02718028816828332" rpy="0 0 0"/>
    <mass value="0.05109923340267478"/>
    <inertia ixx="1.3e-05" iyy="1.6e-05" izz="9e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_description/meshes/yaw_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="pr_robot_color0"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.026" rpy="0 0 0"/>
    <geometry>
      <box size="0.056 0.029 0.052"/>
    </geometry>
  </collision>
</link>

<link name="bicep_link">
  <inertial>
    <origin xyz="0.01863772819177127 0.012137367453564661 0.17072163533558457" rpy="0 0 0"/>
    <mass value="0.067065292842475"/>
    <inertia ixx="0.000166" iyy="0.000169" izz="1.1e-05" ixy="0.0" iyz="-0.0" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_description/meshes/bicep_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="pr_robot_color0"/>
  </visual>
  <collision>
    <origin xyz="0.019 0.0 0.091" rpy="0 0 0"/>
    <geometry>
      <box size="0.042 0.029 0.188"/>
    </geometry>
  </collision>
</link>

<link name="forearm_link">
  <inertial>
    <origin xyz="2.4204837908080184e-06 0.06877599518766285 0.07648825562775802" rpy="0 0 0"/>
    <mass value="0.01211497734912192"/>
    <inertia ixx="2.3e-05" iyy="3e-06" izz="2.5e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_description/meshes/forearm_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="pr_robot_color0"/>
  </visual>
  <collision>
    <origin xyz="0.019 0.078 0.0" rpy="0 0 0"/>
    <geometry>
      <box size="0.056 0.167 0.021"/>
    </geometry>
  </collision>
</link>

<link name="pen_mount_link">
  <inertial>
    <origin xyz="-0.014299983102150067 0.047634046578663464 0.2556447914018716" rpy="0 0 0"/>
    <mass value="0.014680193276803751"/>
    <inertia ixx="6e-06" iyy="4e-06" izz="3e-06" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_description/meshes/pen_mount_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="pr_robot_color1"/>
  </visual>
  <collision>
    <origin xyz="0.005 0.029 0.009" rpy="0 0 0"/>
    <geometry>
      <box size="0.052 0.066 0.061"/>
    </geometry>
  </collision>
</link>

<link name="pen_link">
  <inertial>
    <origin xyz="-0.0046999821998861034 0.16900084846893154 0.27836679392107744" rpy="0 0 0"/>
    <mass value="0.010548533572015115"/>
    <inertia ixx="1.2e-05" iyy="1.2e-05" izz="0.0" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_description/meshes/pen_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="pr_robot_silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.023" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="0.006" length="0.132"/>
    </geometry>
  </collision>
</link>

<link name="pen_tip_link">
  <inertial>
    <origin xyz="1.7967033327071713e-08 0.0056325184082814065 0.05296188080541599" rpy="0 0 0"/>
    <mass value="5.550147021341971e-10"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://pr_description/meshes/pen_tip_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="pr_robot_color2"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <sphere radius="0.001"/>
    </geometry>
  </collision>
</link>

<joint name="yaw_joint" type="revolute">
  <origin xyz="0.0 0.012 0.036" rpy="0.0 0.0 3.14159"/>
  <parent link="base_link"/>
  <child link="yaw_link"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="bicep_joint" type="revolute">
  <origin xyz="-0.019 0.0 0.0405" rpy="0.0 0.0 0.0"/>
  <parent link="yaw_link"/>
  <child link="bicep_link"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="forearm_joint" type="revolute">
  <origin xyz="0.0 0.000172 0.174" rpy="0.0 0.0 0.0"/>
  <parent link="bicep_link"/>
  <child link="forearm_link"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="pen_mount_joint" type="revolute">
  <origin xyz="0.0143 0.157 -3.3e-05" rpy="0.0 0.0 0.0"/>
  <parent link="forearm_link"/>
  <child link="pen_mount_link"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="2.268928" lower="-1.832596" effort="100" velocity="100"/>
</joint>

<joint name="pen_joint" type="fixed">
  <origin xyz="0.0047 0.045368 -0.018223" rpy="0.0 0.0 0.0"/>
  <parent link="pen_mount_link"/>
  <child link="pen_link"/>
</joint>

<joint name="pen_tip_joint" type="fixed">
  <origin xyz="0.0 0.000261 -0.042585" rpy="0.0 0.0 0.0"/>
  <parent link="pen_link"/>
  <child link="pen_tip_link"/>
</joint>

<xacro:if value="$(arg use_sim)">
<ros2_control name="pr_robot" type="system">
  <hardware>
    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
  </hardware>
  <joint name="yaw_joint">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>
  <joint name="bicep_joint">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>
  <joint name="forearm_joint">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>
  <joint name="pen_mount_joint">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>
</ros2_control>
</xacro:if>

<xacro:unless value="$(arg use_sim)">
<ros2_control name="DynamixelHardware" type="system">
  <hardware>
    <plugin>dynamixel_hardware/DynamixelHardware</plugin>
    <param name="usb_port">/dev/ttyUSB0</param>
    <param name="baud_rate">1000000</param>
  </hardware>
  <joint name="forearm_joint">
    <param name="id">11</param>
    <param name="profile_acceleration">50</param>
    <param name="profile_velocity">200</param>
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>
  <joint name="yaw_joint">
    <param name="id">12</param>
    <param name="profile_acceleration">50</param>
    <param name="profile_velocity">200</param>
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>
  <joint name="bicep_joint">
    <param name="id">13</param>
    <param name="profile_acceleration">50</param>
    <param name="profile_velocity">200</param>
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="velocity"/>
  </joint>
</ros2_control>
</xacro:unless>

</robot>
